@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:letter"]{
	font-style: italic;
}

[epub|type~="z3998:letter"] header{
	text-align: initial;
	margin-bottom: 1em;
}

[epub|type~="z3998:letter"] header p + p + p{
	margin-left: 1em;
}

[epub|type~="z3998:letter"] header p + p + p + p{
	margin-left: 2em;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
